<!doctype html>

<html ng-app="twistedToDo">
<head>

    <title>Twisted / AngularJS Todo App</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script><!-- load angular -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-resource.js"></script><!-- load angular -->

    <script src="todoCtrl.js"></script>


 </head>
 <!-- SET THE CONTROLLER AND GET ALL TODOS -->
<body ng-controller="todoCtrl">
    <div class="container">

        <div class="row" id="loginContainer">
            <div class="col-md-3"></div>
            <div class="col-md-6 alert alert-warning" role="alert">
                <span class="text-center"><h3>Você não está logado! </h3></span>

                <div class="input-group col-md-12">
                    <input type="text" class="form-control" placeholder="usuário" aria-describedby="basic-addon2" ng-model="user">
                    <input type="password" class="form-control" placeholder="senha" aria-describedby="basic-addon2" ng-model="password">
                    <button type="button" class="btn btn-default" ng-click="makeLogin()">Login</button>
                </div>


                <div class="alert alert-warning alert-dismissible" role="alert" ng-show="loginError">
                    <button type="button" class="close" ng-click="dismissError()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>{{loginError}}</strong>
                </div>

            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="text-center" ng-show="loggedUser">
                <h2>Olá, {{loggedUser}}! </h2>
                <h3>Você tem {{ todos.length }} tarefas: </h3>
            </div>
        </div>

        <div id="todo-list" class="row" ng-hide="!loggedUser">
            <div class="col-md-8 col-md-offset-2">



                <div ng-repeat="todo in todos" class="input-group" id="TodoContainer{{todo.id}}">
                    <span class="input-group-addon">
                        <input type="checkbox" ng-click="checkTodo(todo)" ng-checked="{{todo.status==1}}">
                    </span>
                    <input type="text" class="form-control" ng-model="todo.task">
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="updateTodo(todo)" type="button">Editar</button>
                    </span>
                    <span class="input-group-btn">
                        <button class="btn btn-danger" ng-click="deleteTodo(todo)" type="button">Deletar</button>
                    </span>
                </div>
            </div>
        </div>

        <div class="row"> <br> </div>
        <div id="todo-form" class="row" ng-hide="!loggedUser">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form>
                    <div class="form-group">


                        <input type="text" class="form-control input-lg text-center" placeholder="Criar uma nova tarefa..." ng-model="newTodo">
                    </div>


                    <button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo()">Criar</button>
                </form>
            </div>
        </div>

    </div>

</body>
</html>